.App {
    text-align: center;
    /* margin: 1em auto; */
    /* width: 60%;
    min-width: 400px; */
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page-title {
    font-size: 1.5em;
}

.faded-text {
    color: #999999;
}

/* CUSTOM */
.welcome {
    display: flex;
    font-size: 0.7em;
    justify-content: space-between;
    white-space: nowrap;
}

.welcome span:first-child {
    padding-right: 1em;
}

.welcome-avatar {
    width: 24px;
    height: 24px;
    margin: 4px;
    margin-top: -8px;
    vertical-align: middle;
    border-radius: 10%;
}

.poll {
    padding: 0.5em;
}

.poll-title {
    font-size: 1.2em;
    font-weight: bold;
}

.option-checkbox {
    font-size: 2em;
    margin-top: -4px;
    padding-right: 8px;
    vertical-align: middle;
}

.option-checkbox.checked {
    color: #1dae5f;
}

.btnFilter {
    all: unset;
    color: #999999;
    text-decoration: none;
    cursor: default;
}

.btnFilter.active {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.logout {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.question-detail-avatar {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    vertical-align: middle;    
    margin-right: 0.8em;
}

.question-detail-username {
    font-size: 1.5em;
}

.leaderboard-user {
    color: white;
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.leaderboard-user .list-group-item {
    color: #999999;
    display: grid;
    grid-template-columns: 74px 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% auto;

    grid-template-areas:
        'avatar username username username username'
        'avatar asked answered answered answered';
}

.leaderboard-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1em;

    grid-area: avatar;
}

.leaderboard-user .username {
    color: #333333;
    font-size: 1.6em;
    grid-area: username;
}

.leaderboard-user .list-group-item.currentUser,
.leaderboard-user .list-group-item.currentUser .username{
    color: white;
}

.asked {
    grid-area: asked;
}

.answered {
    grid-area: answered;
}
