#root {
    background-color: var(--primary);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    min-height: 100vh;
}

.container-fluid {
    min-width: 480px;
}

.loading {
    background-color: var(--warning);
    height: 3px;
    position: absolute;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.page-title {
    font-size: 1.5em;
}

.faded-text {
    color: #999999;
}

/* CUSTOM */
.welcome {
    color: var(--light);
    font-size: 1em;
    white-space: nowrap;
}

.welcome span:first-child {
    padding-right: 0.8em;
}

.welcome-avatar {
    margin: 4px;
    margin-top: -8px;
    vertical-align: middle;
    border-radius: 10%;
}

.dropdown-user-avatar {
    border-radius: 10%;
    vertical-align: middle;
}

/* QUESTION */
.loader {
    min-height: 16vh;
    animation: pulseText 1.8s ease-in-out;
    animation-iteration-count: infinite;
}

.loader:after {
    align-self: center;
    color: var(--primary);
    content: 'Loading...';
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin-top: 1.5rem;
    text-transform: uppercase;
}

@keyframes pulseText {
    0% {
        opacity: 1;
    }
    63% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.question .list-group-item ul {
    margin-left: 0;
    padding-left: 0;
}

.question ul li {
    list-style: none;
}

/* QUESTION DETAIL */
.questions .list-group-item {
    color: unset;
}

.poll {
    padding: 0.5em;
}

.poll-title {
    font-size: 1.2em;
    font-weight: bold;
}

.option-checkbox {
    font-size: 2em;
    margin-top: -4px;
    padding-right: 8px;
    vertical-align: middle;
}

.option-checkbox.checked {
    color: #1dae5f;
}

.btnFilter {
    all: unset;
    color: #999999;
    text-decoration: none;
    cursor: default;
}

.btnFilter.active {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.logout {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.question-detail-avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5em;
}

/* LEADERBOARD */
.leaderboard-user {
    color: white;
    list-style: none;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.leaderboard-user .list-group-item {
    color: #333333;
    display: grid;
    grid-template-columns: 36px 74px 1fr 1fr 2fr;
    grid-template-rows: 50% auto;

    grid-template-areas:
        'rank avatar username username score'
        'rank avatar asked answered score';
}

.leaderboard-avatar {
    vertical-align: middle;
    margin-right: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

    grid-area: avatar;
}

.leaderboard-user .username {
    font-size: 1.6em;
    grid-area: username;
    white-space: nowrap;
}

.leaderboard-user .currentUser {
    color: #ffffff;
}

.leaderboard-user .list-group-item.currentUser {
    background-color: var(--primary);
    background-image: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0.1)
    );
}

.rank {
    grid-area: rank;
}

.asked {
    grid-area: asked;
    font-size: 0.8em;
}

.answered {
    grid-area: answered;
    font-size: 0.8em;
}

/* SCORE */
.score {
    grid-area: score;
}

.score h1 {
    color: white;
    margin-bottom: 0;
}

.score .badge {
    border: solid 1px #ffffff;
    padding-top: 8px;
}

.currentUser .score .badge {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding-top: 8px;
}

.score .badge hr {
    margin: 4px 0 0 0;
    padding: 0;
}

.badge .micro {
    font-size: 0.7rem;
    opacity: 0.7;
    padding: 0 0.5rem;
}

.callout {
    font-size: 1.2em;
    font-weight: 500;
}

.star {
    color: var(--warning);
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: -14px;
    margin-top: -13px;
    animation: rotateStar 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transform: rotate(-15deg);
}

.star:hover {
    transform: rotate(540deg);
}

@keyframes rotateStar {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

/* AVATAR */
.avatar {
    border-radius: 20%;
}

.avatar.sm {
    height: 16px;
    width: 16px;
}

.avatar.md {
    height: 24px;
    width: 24px;
}

.avatar.lg {
    height: 64px;
    width: 64px;
}

.avatar.xl {
    height: 84px;
    width: 84px;
}
